/* .video-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} */

.video-container .video {
    height: 15rem;
    width: 25rem;
    /* margin: 2rem; */
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, .5);
    overflow: hidden;
    /* border-radius: 1rem; */
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
}

.video-container .video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    outline: none;
    border: none;
    cursor: pointer;
}

.video-container .video:hover {
    transition: border-top-left-radius 3s, border-bottom-left-radius 3s;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
}